{% extends "base.html" %}
{% block content %}
<div>
    <h1> What is Pauper? </h1>
</div>
<div class="row">
    <div class="col-md"></div>
    <p>Pauper is just one of many of Magic the Gathering's different rulesets, known as a format.
        While it has a long history as a community-led format on Magic Online,
        it was only acknowledged by Wizards of the Coast for tabletop play in 2019.
    </p>
    <p>
        Despite that, it's become one of the most-loved formats in the game.
        Between the constant events for it on Magic Online and the introduction of the Pauper Format Panel in
        early 2022, Pauper looks like it's going to get bigger than ever.
    </p>
    <p>
        Pauper is a one-on-one, eternal, competitive format in the same vein as something like Legacy, Modern,
        or Vintage. Starting at 20 life each, two players draw seven cards from a deck at least 60 cards big and try to
        win through combat or combos. If you've played virtually any other Magic the Gathering format
        (bar a multiplayer format like Commander), you know the general flow of a Pauper game already.
    </p>
    <p>
        The big 'gimmick' of Pauper, though, is in which cards are legal in it. While it never rotates like Standard,
        meaning cards from right across the game's history can be used, only common-rarity cards are legal. Uncommon,
        rare, and mythic rare cards have no place in the Pauper format.
    </p>
    <p>
        For a card to be legal in Pauper, at least one of its printings has to have been at common rarity.
        As long as that is the case, every printing of the card is legal in Pauper. For instance,
        Brainstorm was 'upshifted' from common to rare in Strixhaven's Mystical Archive, but you can still play the
        Mystical Archive version in Pauper because of its earlier, common versions.
    </p>
    </div>
</div>
<hr>
<div class="row">
</div>
{% endblock %}
